/* FIXME: Refactor Styles */
[aria-label="Timeline: Conversation"] > div {
  min-height: 500px !important;
}

[data-testid="primaryColumn"] {
  border: 0 !important;
}

.parent-thread-tweet > div {
  border: 0 !important;
}

.remove,
.reply-field,
.reply-field ~ div {
  display: none !important;
}

.parent-thread-tweet
  article
  > div
  > div
  > div
  > div:nth-child(2)
  > div:nth-child(1) {
  display: block !important;
}

article > div > div > div > div:nth-child(2) > div:nth-child(1) {
  display: none !important;
}

.parent-thread-tweet
  article
  > div
  > div
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1) {
  display: block !important;
}

article
  > div
  > div
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1) {
  display: none !important;
}

.parent-thread-tweet
  + div
  + div
  article
  > div
  > div
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(1) {
  display: none !important;
}

article > div > div > div > div:nth-child(1) {
  display: none !important;
}

[aria-label*="reply"] > div,
[aria-label*="replies"] > div {
  display: none !important;
}

[aria-label*="reply"],
[aria-label*="replies"],
.parent-thread-tweet .source-labels {
  width: 65px;
  border: 1px solid red !important;
}

.last-tweet ~ div {
  display: none !important;
}

.last-tweet + div + div {
  display: block !important;
  opacity: 0 !important;
  height: 300px !important;
  pointer-events: none !important;
}
