#open-reader-mode {
  background: none;
  position: absolute;
  right: 0;
  padding: 0;
  border: 1px solid;
  border-radius: 9999px;
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.theme-0,
[style="background-color: rgb(255, 255, 255);"],
[style="background-color: #FFFFFF;"] {
  #open-reader-mode {
    border: 1px solid #000;
    color: #000;
  }

  #close-thread-reader-view {
    color: #000 !important;
  }
}

#close-thread-reader-view {
  display: none;
}

html[class*="__photo__"] {
  #close-thread-reader-view {
    z-index: 0;
    display: none;
  }
}
